- content_for :title do
  NomadWeekly
.jumbotron.vertical-center.text-center{style1: 'padding-top: 0;padding-bottom: 0;'}
  .container
    %br
    %h1 Nomad Weekly
    %p.lead
      A free e-mail round-up delivered to your inbox every Thursday.
    .row
      %br
      .container
        .row
          .col-md-4
          .col-md-4
            = simple_form_for :subscribe, url: "subscribes", method: :post do |f|
              .input-group
                = f.input :email, placeholder: 'Your email', label:false, required: true, class: 'form-control', id: "email"
                %span.input-group-btn
                  = f.button :submit, "Subscribe", class: 'btn btn-success'
          .col-md-4
      %p.subtext
        %br
        One email per week.
        %a{href: 'https://www.ftc.gov/tips-advice/business-center/guidance/can-spam-act-compliance-guide-business'} No spam policy.
        %br
        Can't wait? Checkout our
        %a{href: 'http://www.nomadweekly.com/pages/archive'} latest issue.
      %br
.container
  %h1.text-center What digital nomads say
  %hr
  .row{style: 'margin-bottom: 3em;'}
    .col-md-4
      .text-center
        %img.img-circle{:alt => "", width: '128px', height: '128px', :src => "#{asset_path('obama.jpg')}"}
        %h3 Barrack O., Kailua Bay, Hawaii
        %p The best thing since sliced bread. Saves a ton of time every week.
    .col-md-4
      .text-center
        %img.img-circle{:alt => "", width: '128px', height: '128px', :src => "#{asset_path('putin.jpg')}"}
        %h3 Vladimir P., Russia
        %p Fresh news on my desk every Thursday while I enjoy nature.
    .col-md-4
      .text-center
        %img.img-circle{:alt => "", width: '128px', height: '128px', :src => "#{asset_path('superman.jpeg')}"}
        %h3 You
        %p
          %a{href: 'mailto:hello@nomadweekly.com?Subject=This%20is%20awesome!', target: '_top'} Tell me what you think!