- content_for :title do
  Archive
.container
  .page-header
    %h1
      Archive
  .timeline
    .line.text-muted
    - issues.each do |issue|
      %article.panel.panel-success
        .panel-heading.icon
          %i.glyphicon.glyphicon-envelope
        .panel-heading
          %h2.panel-title Issue ##{issue.number} — #{issue.title} — #{issue.scheduled_at.strftime("%d %b. %Y")}
        .panel-body
          = issue.description
          %br
          %p
            %ol
            - issue.link.each do |link|
              %li
                %a{:href => "http://#{link.url}", :target => "_blank"}
                  = link.url
                by
                %a{:href => "http://#{link.author_url}", :target => "_blank"}
                  = link.author
                %br
                = link.description
%br